.codit.logo
    .container
        nav.menu
            co-search(v-on:search='OnSearch')
            co-bookmarks
        main.content 
            header.content__header
                co-logo 
            co-developers